<!Doctype html>
<html>
  <head>
    <meta name="charset" content="utf-8"/>
    <meta name="description" content="CS2610 Project"/>
    <link href="/css/stylesheet.css" rel="stylesheet" type="text/css"/>
    <title>Instagrizzam Login</title>
    <script src="/js/myScript.js"></script>
  </head>

  <body>
  <div class="header">
    <div class="navbarbackground"></div>
    <div class="later">
      <a href="">
      <img src="images/later.png">
      </a>
    </div>
    <div id="banner"></div>
  </div>

  {{{body}}}

  </body>
</html>
