<div id="title">
  <img src="images/home.png">
</div>

<div class = "bb-wrapper">
  <h2 class = "bb-h2">Welcome!</h2>
  <p class = "bb-p">Log in below</p>
  <a href = "/authorize" id = "login" class = "bb-button"><strong>Log In</strong></a>
</div>
